@page "/communication"
    <h2>Communication between Components Overview</h2>
    <br />
    <br />
    <TitleComponent Department="Sales"></TitleComponent>
    <br />
    <br /
    <TitleComponent Department="Order"></TitleComponent>

    @code {

    }
